<!-- Hero Carousel -->
<div id="deals" class="carousel mt-16 w-full relative overflow-hidden">
  <div id="slide1" class="carousel-item relative h-[26rem] md:h-[32rem] w-full">
    <img src="banner1.jpg" class="w-full h-full object-cover" alt="Slide 1" />
    <div class="absolute inset-0 flex items-center justify-between px-5">
      <a href="#slide4" class="btn btn-circle bg-white text-black">❮</a>
      <a href="#slide2" class="btn btn-circle bg-white text-black">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative h-[26rem] md:h-[32rem] w-full">
    <img src="banner3.png" class="w-full h-full object-cover" alt="Slide 2" />
    <div class="absolute inset-0 flex items-center justify-between px-5">
      <a href="#slide1" class="btn btn-circle bg-white text-black">❮</a>
      <a href="#slide3" class="btn btn-circle bg-white text-black">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative h-[26rem] md:h-[32rem] w-full">
    <img src="banner2.gif" class="w-full h-full object-cover" alt="Slide 3" />
    <div class="absolute inset-0 flex items-center justify-between px-5">
      <a href="#slide2" class="btn btn-circle bg-white text-black">❮</a>
      <a href="#slide4" class="btn btn-circle bg-white text-black">❯</a>
    </div>
  </div>
  <div id="slide4" class="carousel-item relative h-[26rem] md:h-[32rem] w-full">
    <img src="banner4.jpg" class="w-full h-full object-cover" alt="Slide 4" />
    <div class="absolute inset-0 flex items-center justify-between px-5">
      <a href="#slide3" class="btn btn-circle bg-white text-black">❮</a>
      <a href="#slide1" class="btn btn-circle bg-white text-black">❯</a>
    </div>
  </div>
</div>
